#navtong {
  display: flex;
  align-items: center;
  position: relative; 
  width: 100%; 
  max-width: 1440px; 
  height: 124px;
  margin: 0 auto; 
  padding-left: 3px;
  background: linear-gradient(90deg, #FFFFFF 0%, #9ADDFF 100%);
}

header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.phan1_1 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
#navgiua {
  display: flex;
  align-items: center;
  padding-top: 52.5px;
  padding-bottom: 52.5px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.nav2
{
margin-right: 46px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
width: 94px;
height: 19px;
flex: none;
order: 0;
flex-grow: 0;
}


.nav1
{
margin-left: 106px;
margin-right: 46px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
width: 94px;
height: 19px;
flex: none;
order: 0;
flex-grow: 0;


}


.nav3
{
margin-right: 186px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
width: 94px;
height: 19px;
flex: none;
order: 0;
flex-grow: 0;
}

#navphai
		{
			padding-top: 12px;
			padding-bottom: 12px;
      padding-left: 31.5px;
		}		

#navtrai {
  display: flex;
  align-items: center;

}

.dangnhap_dangbai
{
  margin-right: 40px;
}


.dangnhap_dangbai button
{
margin-left: 40px;
width: 106px;
height: 46px;
border-radius: 35px;
align-items: center;
border: none;
color: #FFFFFF;
background: #1BA0F4;
}

.dangky_dangxuat button 
{
margin: 0 auto;
width: 106px;
height: 46px;
border-radius: 35px;
align-items: center;
border: none;
color: #1BA0F4;
background-color: #FFFFFF;
}


.nav1,
.nav2,
.nav3 {
  white-space: nowrap;
  
}





.chaomungNOVUs
{
line-height: 120%;
text-align: left;
background: linear-gradient(90deg, #40C2FF 0%, #169FF4 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-align: center;
padding-top: 34px;

}

.popup {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  
}

.popup-content {
  background-color: #fff;
  margin: 10% auto;

  width: 560px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  position: relative;
  text-align: center;

padding-bottom: 34px;


}


.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 0;
  padding-left: 529.5px;
  padding-right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background: #40C2FF;
  border-radius: 10px 10px 0px 0px;
}

form input {
  width: 500px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #1BA0F4;
  border-radius: 6px;
  font-size: 16px;
  
}

