 * {
             box-sizing: border-box;
}
            body
            {
                transform: scale(0.5625);
                font-family: 'Inter';
                font-weight: 600;
                color: transparent;
            }
            header
            {
                background-color: #40C2FF;
                width: 1440px;
                height: 56px;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            input
            {
                font-size: 20px;
                padding-left: 15px;
                text-indent: 0;
            }
            .khung
            {
                border: 1px solid black;
                border-radius: 20px;
                position: relative;
                height: 1002px;
                width: 1442px;
            }
            .dangkiungtuyen
            {
                width: 1440px;
                height: 946px;
                padding-right: 110px;
                padding-bottom: 39px;
                padding-left: 113px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 43px;
                position: absolute;
            }
            .dangki
            {
                margin-top: 20px;
                border-width: 0px;
                width: 420px;
                height: 61px;
                color: #3d3d3d;
                font-size: 50px;
                margin-bottom: 20px;
            }
            .anhdangki
            {
                margin-top: 20px;
                width: 393px;
                height: 878px;
            }
            .google
            {
                border-radius: 8px;
                border: 1px solid #6b6b6b;
                width: 773px;
                height: 96px;;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                font-size: 25px;
                font-weight: 600;
                color: #6b6b6b;
            }
            .google img 
            {
                width: 26px;
                height: 26px;
                display: block;
            }
            .google a 
            {
                display: inline-flex;
                align-items: center;
                gap: 4px;
                text-decoration: none;
                color: #6b6b6b;
            }
            .or 
            {
                line-height: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #b3b3b3;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .or::before
            {
                border-bottom: 1px solid #6b6b6b;
                width: 100%;
                content: "";
            }
            .or::after
            {
                border-bottom: 1px solid #6b6b6b;
                width: 100%;
                content: "";
            }
            .ho_voi_ten
            {
                width: 100%;
                height: 53px;
                display: flex;
                gap:7px;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                
            }
            .ho_voi_ten input
            {
                width: 383px;
                height: 53px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                background-color: white;
            }
            .ten_dang_nhap
            {
                width: 773px;
                height: 53px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                background-color: white;
                margin-top: 20px;
            }
            input::placeholder
            {
                font-size: 20px;
                padding-left: 19px;
                padding-bottom: 14px;
                padding-top: 15px;
                color: #b3b3b3;
                font-weight: 400;
            }
            .email
            {
                border: 1px solid #6b6b6b;
                width: 773px;
                height: 53px;
                border-radius: 8px;
                background-color: white;
                margin-top: 20px;
            }
            .password
            {
                display: grid;
                width: 773px;
                height: 53px;
                grid-template-columns: repeat(2, 1fr);
                gap: 7px;
                margin-top: 20px;
            }
            .nhappassword
            {
                border: 1px solid #6b6b6b;
                width: 383px;
                height: 53px;
                border-radius: 8px;
                background-color: white;
                display: flex;
                justify-content: space-between;
            }
            .nhappassword input
            {
                border-width: 0px;
                border-radius: 8px;
                box-sizing: border-box;
                outline: none;
            }
            .nhappassword img 
            {
                width: 23px;
                height: 20px;
                margin: 17px 10px 16px;
            }
            .sdt
            {
                border: 1px solid #6b6b6b;
                width: 773px;
                height: 53px;
                border-radius: 8px;
                background-color: white;
                margin-top: 20px;
            }
            .thongbao
            {
                color: #4e4e4e;
                font-size: 20px;
                display: flex;
                align-items: center;
                margin-top: 25px;
                margin-bottom: 15px;
                gap: 14px;
            }
            .thongbao input
            {
                appearance: none;
                width: 30px;
                height: 30px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                flex-shrink: 0;
                cursor: pointer;
                position: relative;
            }
            .thongbao input:checked
            {
                background-color:#1379FF;
            }
            .thongbao input:checked::after
            {
                content: "✔";
                color: white;
                font-size: large;
                position: absolute;
                right: 25%;
            }
            .thoathuan
            {
                color: #4e4e4e;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 14px;
            }
            .thoathuan input 
            {
                appearance: none;
                width: 30px;
                height: 30px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                flex-shrink: 0;
                cursor: pointer;
                position: relative;
            }
            .thoathuan input:checked
            {
                background-color:#016fff;
            }
            .thoathuan input:checked::after
            {
                content: "✔";
                color: white;
                font-size: large;
                position: absolute;
                right: 25%;
            }
            .thoathuan a 
            {
                color: #016fff;
                cursor: default;
            }
            .ntd
            {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #9f9f9f;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .ntd a
            {
                color: #016fff;
                cursor: pointer;
            }
            .nutdangki
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            input[type ="submit"]
            {
                width: 300px;
                height: 60px;
                background: linear-gradient(to right, #1ba0f4 0%, #5ac9ff 54%, #22a4f5 100%);
                border-radius: 50px;
                border: 0px solid black;
                font-size: 28px;
                font-weight: 600;
                color: white;
            }
