 * {
             box-sizing: border-box;
}
            body
            {
                font-family: 'Inter';
                font-weight: 600;
            }
            header
            {
                background-color: #40C2FF;
                width: 1440px;
                height: 56px;
            }
            input
            {
                font-size: 20px;
            }
            .dangkiungtuyen
            {
                width: 1440px;
                height: 946px;
                padding-right: 110px;
                padding-bottom: 39px;
                padding-left: 113px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 43px;
            }
            .dangki
            {
                margin-top: 20px;
                border-width: 0px;
                width: 420px;
                height: 61px;
                color: #3d3d3d;
                font-size: 50px;
            }
            .anhdangki
            {
                margin-top: 29px;
                width: 393px;
                height: 878px;
            }
            .google
            {
                border-radius: 8px;
                border: 1px solid #6b6b6b;
                width: 773px;
                height: 96px;;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                font-size: 25px;
                font-weight: 600;
                color: #6b6b6b;
            }
            .google img 
            {
                width: 26px;
                height: 26px;
                display: block;
            }
            .google a 
            {
                display: inline-flex;
                align-items: center;
                gap: 4px;
                text-decoration: none;
                color: #6b6b6b;
            }
            .or 
            {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #b3b3b3;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .or::before
            {
                border-bottom: 1px solid #6b6b6b;
                width: 100%;
                content: "";
            }
            .or::after
            {
                border-bottom: 1px solid #6b6b6b;
                width: 100%;
                content: "";
            }
            .hovaten
            {
                width: 773px;
                height: 53px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                background-color: white;
                margin-top: 8px;
            }
            input::placeholder
            {
                font-size: 20px;
                padding-left: 19px;
                padding-bottom: 14px;
                padding-top: 15px;
                color: #b3b3b3;
                font-weight: 400;
            }
            .email
            {
                border: 1px solid #6b6b6b;
                width: 773px;
                height: 53px;
                border-radius: 8px;
                background-color: white;
                margin-top: 33px;
            }
            .password
            {
                display: grid;
                width: 773px;
                height: 53px;
                grid-template-columns: repeat(2, 1fr);
                gap: 7px;
                margin-top: 33px;
            }
            .nhappassword
            {
                border: 1px solid #6b6b6b;
                width: 383px;
                height: 53px;
                border-radius: 8px;
                background-color: white;
                display: flex;
                justify-content: space-between;
            }
            .nhappassword input
            {
                border-width: 0px;
                border-radius: 8px;
                box-sizing: border-box;
                outline: none;
            }
            .nhappassword img 
            {
                width: 23px;
                height: 20px;
                margin: 17px 10px 16px;
            }
            .sdt
            {
                border: 1px solid #6b6b6b;
                width: 773px;
                height: 53px;
                border-radius: 8px;
                background-color: white;
                margin-top: 33px;
            }
            .thongbao
            {
                color: #4e4e4e;
                font-size: 20px;
                display: flex;
                align-items: center;
                margin-top: 30px;
                margin-bottom: 5px;
                gap: 14px;
            }
            .thongbao input
            {
                appearance: none;
                width: 30px;
                height: 30px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                flex-shrink: 0;
            }
            .thongbao input:checked
            {
                background-color:blue;
            }
            .thongbao input::after
            {
                content: "✔";
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: large;
            }
            .thoathuan
            {
                color: #4e4e4e;
                font-size: 20px;
                display: flex;
                align-items: center;
                gap: 14px;
            }
            .thoathuan input 
            {
                appearance: none;
                width: 30px;
                height: 30px;
                border: 1px solid #6b6b6b;
                border-radius: 8px;
                flex-shrink: 0;
            }
            .thoathuan input:checked
            {
                background-color:blue;
            }
            .thoathuan input::after
            {
                content: "✔";
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: large;
            }
            .thoathuan a 
            {
                color: #016fff;
            }
            .ntd
            {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #9f9f9f;
                font-size: 20px;
                margin-top: 21px;
                margin-bottom: 36px;
            }
            .ntd a
            {
                color: #016fff;
            }
            .nutdangki
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            input[type ="submit"]
            {
                width: 300px;
                height: 60px;
                background: linear-gradient(to right, #1ba0f4 0%, #5ac9ff 54%, #22a4f5 100%);
                border-radius: 50px;
                border: 0px solid black;
                font-size: 28px;
                font-weight: 600;
                color: white;
            }