/* phần 2 */

#phan2_1 {
  max-width: 1440px;
  margin:auto auto  ;
  max-width: 1440px;
  margin: auto;

  
}

.phan2 {
  width: 100%;
  height: 704px;
  border: solid 1px #9ADDFF;

  position: relative;
}

.banner {
  position: absolute;
  width: 100%;
  height: 596px;
  left: 0;
  top: 0;

    border:solid 1px #9ADDFF;


        background: linear-gradient(180deg, #97DCFF 0%, #FFFFFF 44.23%);


}

.khungnho
{
position: absolute;
width: 1341px;
height:537px;
left: 100px;
top: 59px;

      overflow:hidden;
      background-repeat:no-repeat;
      background-position:right;


      background-image: url('../Img/banner.png');
      background-size: 510px 549px;

}


.timvieclam
{
position: absolute;
width: 502px;
height: 72px;
left: 50px;
top: 12px;

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 74px;
line-height: 72px;
color: #FFFFFF;

text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  white-space: nowrap;

}

.timmotcongviec
{
position: absolute;
width: 831px;
height: 128px;
left: 50px;
top: 115px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 72px;
color: #1F1F2F;


}

.hangtramcohoi
{
position: absolute;
width: 471px;
height: 64px;
left: calc(50% - 471px/2 - 384.5px);
top: 294px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 34px;

color: #585858;


}



.search-box {
  width: 1012px;
  height: 58px;
  margin: 620px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  padding: 0 8px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 16px;
}

.search-icon {
  font-size: 18px;
  margin-right: 12px;
  color: #999;
}

.search-box input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

.nuttimkiem {
  height: 42px;

  margin-right: 6.5px;
  background-color: #0073e6;
  color: white;
  border:1px solid #C3BBBB;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 46px;
}



.nuttimkiem:hover {
  background-color: #005bb5;
}




.searchne
{
  width: 1012px;
height: 64px;
}


/* phần 3 */

.phan3{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 110px;
}

.thatim img {
  transition: transform 0.3s ease;
}

.thatim img:hover {
  transform: scale(1.1);
}


.hl {
  background: rgba(255, 255, 255, 0.06);

}

.congvieclam
{
    font-size: 64px;
  color:#0379FC;
  margin:25px 0;

}
.hl{
  overflow: hidden;
}

.jobstable table td, .jobstable table th {
  vertical-align: top;
}


.taisaokhongchay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  padding: 0; 

}




.hh2 {
  font-size: 19px;
  color: #565656;
  margin: 0; 
}

.thatim
{
  cursor: pointer;
}



#jobsTable {
  display: flex;
  flex-wrap: wrap;
  column-gap: 65px;
  row-gap: 40px;    
  background-color: #EDF9FF;
  padding-top:30px ;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;

}


.quanlianh
{
  padding-top: 18px;
  background-color: #EDF9FF;
  padding-bottom: 18px;
}


.job-card2 {
  flex: 0 0 calc(50% - 32.5px);
}

.job-card3 {
  width: 100%;
  height: 131px;
  border-radius: 8px;

  border-collapse: collapse;
  background-color: white; 
  overflow: hidden;
  border: 1px solid #808080;


}

.job-card td {
  vertical-align: middle;
  border: none;
  padding: 8px;
  
}


.joblogo {
  width: 116px;
  height: 106px;
  text-align: center;
}
.joblogo img {
  width: 116px;
  height: 106px;
}


.nghe {
  width: 350px;
  vertical-align: top;
}
.nghetl {
  margin: 0;
  font-size: 19px;
  color: #565656;
}


.traitim {
  width: 50px;
  text-align: center;

}
.thatim {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-top: 20px;
  padding-right: 19px;
}
.thatim img {
  width: 32px;
  height: 32px;
}


.thongtin {
  height: 80px;
}
.ttw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.ttcty {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #808080;
}
.ttduoi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.traloi {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #808080;
  margin-top: 5px;
}
.dadang {
  font-size: 16px;
  color: #808080;
  white-space: nowrap;
  padding-right: 19px;
}

.job-card3:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  transition: all 0.15s ease;
  cursor: pointer;


}


.tienluong {
  color: #1655F4;

}
 
/* phần 4(5) */

.phan5 {
    
}

.banner2ne {
    width: 1220px;
    height: 388px;
    margin: auto;
    background-image: url('../Img/banner2.png');
        border-radius: 8px;
    background-size: 624px 391px;
    background-repeat: no-repeat;
    background-position: right 0%;
    background-color: #85BEFF;
}

.h1ne {
    margin-left: 95px;
    padding-top: 20px;
    font-size: 40px;
    color: white;
}

.pne {
    margin-left: 95px;
    font-size: 22px;
    color: white;
}

.nutnhanne {
    width: 145px;
    height: 40px;
    margin-left: 95px;
    color: #85BEFF;
    font-size: 16px;
    border-radius: 35px;
    border: none;
    background-color: white;


}





/* phần 5(4) */

#phan4 {
  width: 100%;
  max-width: 1440px;
  margin: auto;

}


.highlight {
  background: rgba(55, 188, 250, 0.06);
  padding: 16px;
  margin-bottom: 16px;
  margin-inline: 110px;
}

.nghetrongdiem
{
    font-size: 64px;
  color:#0379FC;
  margin:25px 110px;
}


.jobs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 58px; 
  row-gap: 29px; 
  align-items: start;

}

.job-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;

}

.top {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo {
  width: 44px;
  height: 44px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;

}
.company {
  font-size: 14px;
  font-weight: 700;
}
.location {
  font-size: 12px;
  color: #666;
}


.job-title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
}
.badge {
  display: inline-block;
  margin-top: 6px;
  padding: 6px 10px;
  background: rgb(255, 255, 255);
  color: #3742FA;
  border-radius: 12px;
  font-size: 12px;
}


.description {
  margin-top: 8px;
  font-size: 13px;
  color: #444;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.salary {
  font-weight: 700;
}
.apply-btn {
  border:1px solid #1BA0F4 ;
  color: #1BA0F4;
  background-color: white;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
  width: 150px;
  height: 47px;

  font-size: 16px;
}





.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  transition: transform 0.15s ease;

}

.apply-btn:hover
{
    color: white;
  background-color: #1BA0F4;
    transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  transition: transform 0.15s ease;
  content: attr(date-hover);
}
